@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

@import "~webext-base-css/webext-base.css";

body {
  color: $black;
  background-color: $greyWhite;
}

input {
  border: 1px solid $skyBlue;
}
